html, body {
  height: 100%;
}
  
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 96px
}
  
#mainCanvas {
    display: block;
    width: 100%;
    height: auto;
}

#p5_loading {
  display:none;
}

 
body{
  background-color: #FCF7F3;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #202297;
text-align: center;
font-family: "yrsa", serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
letter-spacing: 0.994px;
margin-bottom: 24px;
}

p{
  color: #202297;
text-align: center;
font-family: "proxima-nova", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 1.4;
}
.header{
  max-width: 600px;
}


.btn-segment {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}
.btn-segment:hover {
  background-color: #ddd;
}